<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.christianbahl.appkit.samplecore">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">
    <activity
        android:name=".MainActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".activity_fragment.ActivityFragment"/>

    <activity
        android:name=".activity_toolbar.ActivityToolbar"/>

    <activity
        android:name=".activity_toolbar_fragment.ActivityToolbarFragment"/>

    <activity
        android:name=".activity_toolbar_mvp.ActivityToolbarMvp"/>

    <activity
        android:name=".activity_toolbar_fragment_mvp.ActivityToolbarFragmentMvp"/>

    <activity
        android:name=".activity_toolbar_tabs_mvp.ActivityToolbarTabsMvp"/>

    <activity
        android:name=".fragment_recyclerview.FragmentActivtyRecyclerView"/>

    <activity
        android:name=".fragment_recyclerview_ptr.FragmentActivtyRecyclerViewPtr"/>

    <activity
        android:name=".fragment_recyclerview_parallax.FragmentActivtyRecyclerViewParallax"/>
  </application>

</manifest>
